body{
	background-color:#074077;
	color:#fff;
	font-family: 'Josefin Sans', sans-serif;	
}

h2{
	border-bottom:1px solid #ae9d73;
}

a {
	text-decoration:none;
	color:#074077;
}

#pallet_logo{
	vertical-align:middle;
	margin-right:10px;
	height:50px;
}

#wrapper{
	width:800px;
	background-color:#fff;
	margin:50px auto;
	color:#074077;
	box-shadow: 0px 0px 20px #000;
	padding:20px;
}

#wrapper input[type=text]{
	border:none;
		border-bottom:1px solid #074077;
	width:400px;
	color:#074077;
	background-color:transparent;
}

#wrapper table{
	color:#074077;
	border-radius: 25px;
	border:1px solid #074077;
	background-color:#bddcfb;
	padding:20px;
	margin-bottom:15px;
}

#footer{
	width:400px;
	margin:50px auto;
	color:#fff;
	text-align:center;
}

.ugly-hii-yellow{
	color:#ae9d73;
}

.clickable:hover{
	cursor:pointer;
	text-decoration:underline;
}

.bad-red{
	color:red;
}