body{
	background-color:#074077;
	color:#fff;
	font-family: 'Josefin Sans', sans-serif;	
}

h2{
	border-bottom:1px solid #ae9d73;
}

a {
	text-decoration:none;
	color:#074077;
}

#pallet_logo{
	vertical-align:middle;
	margin-right:10px;
	height:50px;
}

#wrapper{
	width:800px;
	background-color:#fff;
	margin:50px auto;
	color:#074077;
	box-shadow: 0px 0px 20px #000;
	padding:20px;
}

#wrapper input[type=text]{
	border:none;
		border-bottom:1px solid #074077;
	width:400px;
	color:#074077;
	background-color:transparent;
}

#wrapper .blue{
	color:#074077;
	border-radius: 25px;
	border:1px solid #074077;
	background-color:#edf6fe;
	padding:20px;
	margin-bottom:15px;
}

#wrapper .alternating{
	color:#074077;
	border:1px solid #074077;
	background-color:#edf6fe;
	padding:20px;
	margin-bottom:15px;
	width:100%;
	border-collapse:collapse;
}

#wrapper .alternating tr:nth-child(even){
	background-color:#F4F9FE;
}

#wrapper .alternating tr:first-child{
	color:#fff;
	background-color:#074077
}

#wrapper td, #wrapper th{
	padding:5px;
}

#footer{
	width:400px;
	margin:50px auto;
	color:#fff;
	text-align:center;
}

.ugly-hii-yellow{
	color:#ae9d73;
}

.clickable:hover{
	cursor:pointer;
	text-decoration:underline;
}

.bad-red{
	color:red;
}

.good-message{
	border:1px solid #4ca64c;
	border-radius: 15px;
	color:#4ca64c;
	background-color:#b2d8b2;
	padding:20px;
	font-size:15px;
	display:none;
	margin-bottom:20px;
	
}

.bad-message{
	border:1px solid #ff3232;
	border-radius: 15px;
	color:#ff3232;;
	background-color:#ffb2b2;
	padding:20px;
	font-size:15px;
	display:none;
	margin-bottom:20px;
}